.backdrop-opacity {
    opacity: 0.5;
}

.modal-title {
    width: 170px;
    height: 20px;
    padding-top: 30px;
    margin-left: 135px;
}

.modal-dialog {
    width: 440px !important;
    height: 410px;
}

.profile .modal-dialog {
    width: 600px !important;
    height: 610px;
}

.modal-content {
    border-radius: 3px !important;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05);
    background-color: var(--white) !important;
    top: 361px;
}

.profile .modal-content {
    top: 150px;
    width: 600px;
}

.profile .custom-modal-body {
    padding: 41px 1rem 1rem 5rem;
}

.profile .logout-button {
    margin-bottom: 43px;
    margin-left: 114px;
}

.profile-picture {
    margin-left: 111px;
    margin-top: 60px;
}

.profile-header {
    display: flex;
    flex-direction: row;
}

.profile-name {
    display: flex;
    flex-direction: column;
    margin-top: 78px;
    margin-left: 30px;
}

.profile input[type=text] {
  height: 13px !important;
  font-size: 18px !important;
  font-weight: normal !important;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.72;
  letter-spacing: normal;
  color: #334144;
}

.profile-name h5 {
    width: 100%;
    height: 25px;
    font-size: 25px;
    font-weight: 300 !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #334144;
}

.profile-name p {
    width: 71px;
    height: 13px;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #949ea0;
}

.custom-modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 50px 1rem 1rem 1rem;
}

.date-label {
    top: 0;
    font-size: 10px !important;
}

.form-padding {
    padding-left: 14px;
    padding-right: 14px;
    display: flex;
    flex-flow: column;
}

.center-names {
    display: flex;
    justify-content: space-between;
}

input[type=text], select {
      width: 185px;
      height: 50px;
      margin-bottom: 10px;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 3px;
      background-color: #f5f6f7;
      box-sizing: border-box;
}

.custom-date, input[type=password], input[type=email], select {
    width: 380px;
    height: 50px;
    margin-bottom: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f5f6f7;
    box-sizing: border-box;
}

input[type=submit] {
  margin-top: 20px;
  height: 50px;
  border-radius: 3px;
  box-shadow: 0 15px 20px 0 rgba(234, 168, 159, 0.2);
  background-image: linear-gradient(to left, #ecbcb3, #eaa79e);
  width: 100%;
  color: white;
  cursor: pointer;
}

.profile-form input[type=submit] {
    width: 150px;
}

.form-floating-label {
  position: relative;
  margin-bottom: 10px;
}

.form-floating-label [type='email'],
.form-floating-label [type='text'],
.form-floating-label .custom-date,
.form-floating-label [type='password'] {
  margin-bottom: 0;
  color: black;
  font-size: 13px;
  font-weight: 300;
  padding: 30px 1rem 1rem 15px;
}

.form-floating-label.profile [type='text'] {
    padding: 40px 1rem 1rem 15px;
}

.form-floating-label [type='password'] {
  font-size: 5px;
}

.form-floating-label label {
  color: #949ea0;
  padding-top: 7px;
  font-size: 18px;
  position: absolute;
  pointer-events: none;
  left: 15px;
  bottom: 0;
  transition: all 0.2s ease-in;
  font-weight: 300;
}

.form-floating-label input:focus ~ label,
.form-floating-label input:disabled[value] ~ label,
.form-floating-label.has-value input ~ label {
  top: 0;
  font-size: 10px;
  color: #949ea0;
  font-weight: 400;
}

.form-floating-label.has-value.profile [type='text'] {
    border: 0px;
    background: white;
}
